// Foods

.img-fluid {
  width: 100%;
  height: auto;
}

.food-wrapper {
  border-radius: 1rem;
  overflow: hidden;
  background-color: $light-gray;
}

.food-body {
  padding: 1rem;
}

.product-price {
  font-weight: 600;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-card-button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  color: $white;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  cursor: pointer;
  background-color: $black;
}
