// Menu

.menu-category-wrapper {
  display: block;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  color: $white;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#foods {
  background-image: linear-gradient(rgba($black, 0.75), rgba($black, 0.25)), url("../../img/dan-gold-4_jhDO54BYg-unsplash.jpg");
}

#desserts {
  background-image: linear-gradient(rgba($black, 0.75), rgba($black, 0.25)), url("../../img/kobby-mendez-q54Oxq44MZs-unsplash.jpg");
}

#beverages {
  background-image: linear-gradient(rgba($black, 0.75), rgba($black, 0.25)), url("../../img/kim-daniels-p6XuDW03YjE-unsplash.jpg");
}
