// Typography

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.25;
}

@each $heading in $headings-font-sizes {
  #{nth($heading , 1)} {
    font-size: nth($heading, 2);
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: 600;
}

small {
  font-size: 0.8rem;
}
